<!DOCTYPE html>
<html>
  <head>
    <title>LibraryManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">

  </head>

  <body>
    
  	<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="http://www.eatlogos.com/education_logos/png/vector_sun_book_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Library
  </a>
</nav>
  	 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
